<h2 class="text-center mt-5">Cart</h2>
<% @items.each do |item| %>
  <div class="container order-item py-4 px-3 m-4">
    <p class="text-center fs-4"><%= link_to item.product.name, product_path(item) %></p>

    <div class="d-flex">
      <div>
        <%= image_tag item.product.image if item.product.image.present? %>
      </div>
      <p class="pl-3">Description: <%= item.product.description %></p>
    </div>

    <p>Price: <%= item.product.price %></p>
    <%= item.total_items_price %>
    <div class="d-flex my-3">
      <p>Quantity:</p>
      <%= link_to "-", decrease_quantity_order_item_path(item), class: "btn btn-success #{"disabled" if item.quantity == 1}" %>
      <strong class="p-2"><%= item.quantity %></strong>
      <%= link_to "+", increase_quantity_order_item_path(item), class: "btn btn-success" %>
    </div>
    <%= link_to "Delete product", product_order_item_path(item.product, item), method: :delete, class: "btn btn-success" %>
  </div>
<% end %>




<div>
  <h4>Total price:</h4>
  <%= @items.map { |a| a.total_items_price }.sum %>
</div>

