<div class="container order-item order-item-<%= item.id %> py-4 px-3 m-4">
  <p class="text-center fs-4"><%= link_to item.product.name, product_path(item.product_id) %></p>

  <div class="d-md-flex">
    <div class="col-md-6 col-lg-4">
      <%= image_tag item.product.image, class: "img-fluid w-100" if item.product.image.present? %>
    </div>
    <p class="pl-3 col-md-6 col-lg-8 pt-2 pt-md-0">Description: <%= item.product.description %></p>
  </div>
  <div class="d-flex align-items-center py-3">
    <strong class="px-2">Price: <%= number_to_currency(item.product.price, separator: ",", delimiter: " ") %></strong>
    <div class="d-flex align-items-center">
      <strong class="px-2">Quantity:</strong>
      <div class="btn-group">
        <%= link_to "-", decrease_quantity_order_item_path(item), remote: true, class: "btn btn-success d-flex align-items-center btn-sm #{"disabled" if item.quantity == 1}" %>
        <strong class="p-2 bg-success text-white"><%= item.quantity %></strong>
        <%= link_to "+", increase_quantity_order_item_path(item), remote: true, class: "btn btn-success d-flex align-items-center btn-sm" %>
      </div>
    </div>
  </div>
  <p class="px-2 fw-bold">Price with
    quantity: <%= number_to_currency(item.total_items_price, separator: ",", delimiter: " ") %></p>
  <%= link_to "Delete product from cart", product_order_item_path(item.product, item), method: :delete, remote: true, class: "btn btn-danger" %>
</div>