<div class="container m-3">
  <h2><%= @product.name %> </h2>
  <div>Rating: <%= @product.rating %></div>
  <div class="d-flex">
    <div>
      <%= image_tag @product.image if @product.image.present? %>
    </div>
    <p class="pl-3">Description: <%= @product.description %></p>
  </div>
  <h3>Price: <%= number_to_currency(@product.price, unit: "UAH", separator: ",", delimiter: " ", format: "%n %u") %></h3>
  <% if user_signed_in? %>
    <%= link_to "Add to cart", product_order_items_path(@product), method: :post, class: "btn btn-small btn-primary" %>
    <%= link_to "Add comment", new_comment_path(product_id: @product), method: :get, class: "btn btn-small btn-primary" if user_purchased_product?(@product)%>
  <% end %>
  <h3>Comments:</h3>
  <% @product.comments.each do |comment| %>
    <%= comment.user.email %>:
    <%= comment.body %>
    <br>
  <% end %>
</div>
