<div class="container my-3">
  <div class="d-flex justify-content-around align-items-center py-4">
    <h2 class="text-center"><%= @product.name %></h2>
    <h5>⭐<%= @product.rating.round(2) %></h5>
  </div>

  <div class="d-lg-flex">
    <div class="col-lg-4">
      <%= image_tag @product.image, class: "img-fluid w-100" %>
    </div>
    <div class="col-lg-8 pt-2 pt-md-0">
      <p class="pl-3">Description: <%= @product.description %></p>
    </div>
  </div>

  <div class="py-5">
    <h3>Price: <%= number_to_currency(@product.price, separator: ",", delimiter: " ") %></h3>
    <% if user_signed_in? %>
      <%= link_to "Add to cart", product_order_items_path(@product), method: :post, class: "btn btn-lg btn-outline-success my-2" %>
    <% else %>
      <%= link_to "Login or register before buying", user_session_path, class: "btn btn-lg btn-outline-success my-2" %>
    <% end %>
  </div>

  <div>
    <div class="d-flex justify-content-between">
      <h3 class="text-center">Comments:</h3>
      <% if user_signed_in? %>
        <%= link_to "Add comment", new_comment_path(product_id: @product), method: :get, class: "btn btn-primary my-2" if user_purchased_product?(@product) %>
        <% else %>
      <% end %>
    </div>

    <% if @product.comments.present? %>
      <div class="m-2 d-flex-column">
        <% @product.comments.each do |comment| %>
          <div class="col- pt-4 bg-white position-relative mb-3">
            <strong class="position-absolute fixed-top p-2"><%= comment.user.email %></strong>
            <strong class="position-absolute fixed-top text-right p-2"><%= render_stars(comment.rating) %></strong>
            <p class="p-3 m-0"><%= comment.body %></p>
            <div class="text-right p-1 btn-group-sm">
              <% if current_user == comment.user %>
                <%= link_to 'Edit', edit_comment_path(comment), class: "btn btn-secondary" %>
                <%= link_to 'Delete', comment_path(comment), method: :delete, class: "btn btn-danger" %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <p>No comment yet</p>
    <% end %>
  </div>
</div>
