<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <h2 class="px-2 m-0 text-uppercase">
    <%= link_to (image_tag "logo2.png", class: "w-25 p-1") + "drumshop", home_path, class: "text-decoration-none text-white" %>
  </h2>
  <button class="navbar-toggler d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto fs-5 text-danger align-items-center">
      <li class="nav-item p-2">
        <%= link_to_unless_current "About", page_path(page: 'about'),  class: "nav-link p-0" %>
      </li>
      <li class="nav-item p-2">
        <%= link_to_unless_current "Shipping", page_path(page: 'shipping'),  class: "nav-link p-0" %>
      </li>
      <li class="nav-item p-2">
        <%= link_to_unless_current "Warranty", page_path(page: 'warranty'),  class: "nav-link p-0" %>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" href="#">There is</a>
          <a class="dropdown-item" href="#">nothing</a>
          <a class="dropdown-item" href="#">here yet</a>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="p-2 m-auto">
        <% if @category.present? %>
          <%= form_with url: search_category_products_path(category_id: @category.id), method: :get, local: true, class: "form-floating d-flex" do |form| %>
            <%= form.text_field :query, id: :query, data: { autocomplete_source: products_path }, class: "form-control query", placeholder: "Search" %>
            <%= form.label :query, "Search" %>
            <%= form.submit "Go!", class: "btn btn-primary" %>
          <% end %>
        <% else %>
          <%= form_with url: search_products_path, method: :get, local: true, class: "form-floating d-flex" do |form| %>
            <%= form.text_field :query, id: :query, data: { autocomplete_source: products_path }, class: "form-control query", placeholder: "Search" %>
            <%= form.label :query, "Search" %>
            <%= form.submit "Go!", class: "btn btn-primary" %>
          <% end %>
        <% end %>
      </li>
      <% if user_signed_in? %>
        <li class="p-2 d-grid">
          <%= link_to "Show cart", order_path(current_order), class: "btn btn-success" %>
          <p class="text-white m-auto"> Products in cart:
            <%= current_order && current_order.status == "in_progress" ? current_order.order_items.size : 0 %>
          </p>
        </li>
        <li class="p-2 d-grid">
          <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "btn btn-danger" %>
          <p class="text-white m-auto">
            <%= current_user.email %>
          </p>
        </li>
      <% else %>
        <li class="p-2">
          <%= link_to "Register", new_user_registration_path, class: "btn btn-success" %>
        </li>
        <li class="p-2">
          <%= link_to "Log In", user_session_path, class: "btn btn-success" %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>