<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
  <div class="sidebar-sticky pt-3">
    <h3>Category:</h3>
    <ul class="nav flex-column">
      <li class="nav-item text-danger">
        <% Category.all.each do |category| %>
          <%= link_to_unless_current category.name.upcase, category_path(category), class: "nav-link p-0" %>
        <% end %>
      </li>
    </ul>

    <h2 class="mt-5">Filter:</h2>
    <div class="sorting">

      <!--   with nested routes here I used controller_name instead current_page-->
      <% if controller.controller_name == "categories" %>
        <div>
          <div class="dropdown">
            <a class="btn btn-primary btn-sm dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
               data-toggle="dropdown" aria-expanded="false">
              Order by
            </a>
            <div class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuLink">
              <%= link_to 'Expensive first', category_path(sort: 'expensive'), class: 'dropdown-item' %>
              <%= link_to 'Cheapest first', category_path(sort: 'cheapest'), class: 'dropdown-item' %>
            </div>
          </div>
        </div>

        <div class="mt-5">
          <h5>Sort by price:</h5>
          <%= form_with url: category_path, method: :get do |form| %>
            <%= form.number_field :min_price, value: @category.products.map(&:price).min, class: 'price-form form-control', placeholder: 'Min'%>
            <%= form.number_field :max_price, value: @category.products.map(&:price).max, class: 'price-form form-control', placeholder: 'Max'%>
            <%= form.submit 'Find', class: 'btn btn-success' %>
          <% end %>
        </div>
      <% elsif controller.controller_name == "products" %>
        <div>
          <div class="dropdown">
            <a class="btn btn-primary btn-sm dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
               data-toggle="dropdown" aria-expanded="false">
              Order by
            </a>
            <div class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuLink">
              <%= link_to 'Expensive first', products_path(sort: 'expensive'), class: 'dropdown-item' %>
              <%= link_to 'Cheapest first', products_path(sort: 'cheapest'), class: 'dropdown-item' %>
            </div>
          </div>
        </div>

        <div class="mt-5">
          <h5>Sort by price:</h5>
          <%= form_with url: products_path, method: :get do |form| %>
            <%= form.number_field :min_price, value: @products.map(&:price).min, class: 'price-form form-control', placeholder: 'Min'%>
            <%= form.number_field :max_price, value: @products.map(&:price).max, class: 'price-form form-control', placeholder: 'Max'%>
            <%= form.submit 'Find', class: 'btn btn-success' %>
          <% end %>
        </div>
      <% else %>
        <div></div>
      <% end %>
    </div>
  </div>
</nav>